<%- include('../partials/header') %>

<h1>Edit Entry: <%= wonder.placeName %></h1>

<form id="new-form" action="/wonders/<%= wonder._id %>?_method=PUT" method="POST">
    <label>Name</label>
    <input type="text" name="placeName" value="<%= wonder.placeName %>">
    <label>Card Image URL</label>
    <input type="text" name="cardImageURL" value="<%= wonder.cardImageURL %>">
    <label>Main Image URL</label>
    <input type="text" name="mainImageURL" value="<%= wonder.mainImageURL %>">
    <div class="tour1">
        <label>Tour Website Name 1</label>
        <input type="text" name="tourText1" value="<%= wonder.tourText1 %>">
        <label>Tour Website Link 1</label>
        <input type="text" name="tourURL1" value="<%= wonder.tourURL1 %>">
    </div>
    <div class="tour2">
        <label>Tour Website Name 2</label>
        <input type="text" name="tourText2" value="<%= wonder.tourText2 %>">
        <label>Tour Website Link 2</label>
        <input type="text" name="tourURL2" value="<%= wonder.tourURL2 %>">
    </div>
    <div class="tour3">
        <label>Tour Website Name 3</label>
        <input type="text" name="tourText3" value="<%= wonder.tourText3 %>">
        <label>Tour Website Link 3</label>
        <input type="text" name="tourURL3" value="<%= wonder.tourURL3 %>">
    </div>
    <label>Card Description</label>
    <textarea name="description" rows="7" cols="37"><%= wonder.description %></textarea>
    <label>Main Description</label>
    <textarea name="descriptionMain"><%= wonder.descriptionMain %></textarea>
    <div class="switchbox">
        <p class="hswitch">Historical Site</p>
        <label class="switch">
            <input type="checkbox" name="isNature">
            <span class="slider round"></span>
        </label>
        <p class="hswitch">Natural Wonder</p>
    </div>
    <input type="submit" value="Edit Entry">
</form>

<%- include('../partials/footer') %>