<%- include('../partials/header') %>
<div class="card-main">
    <div class="image-container">
        <img src="<%= wonder.mainImageURL %>" class="main-image"/>
    </div>
    <br>
    <h1 class="card-name-main"> <%= wonder.placeName %> </h1>
    <p class="card-description card-description-main"> <%= wonder.descriptionMain1 %> </p>
    <p class="card-description card-description-main"> <%= wonder.descriptionMain2 %> </p>
    <p class="card-description card-description-main"> <%= wonder.descriptionMain3 %> </p>
    <p class="card-description card-description-main"> <%= wonder.descriptionMain4 %> </p>
    <p class="tour-links-word">Tour Links</p>
    <div class="tour-links-container">
        <a href=" <%= wonder.tourURL1 %> " class="tour" target="_blank"> <%= wonder.tourText1 %> </a>
        <a href=" <%= wonder.tourURL2 %> " class="tour" target="_blank"> <%= wonder.tourText2 %> </a>
        <a href=" <%= wonder.tourURL3 %> " class="tour" target="_blank"> <%= wonder.tourText3 %> </a>
    </div>
    <div class="edit-delete-links">
        <a href="/wonders/<%= wonder._id %>/edit">Edit Entry</a>
        <br>
        <a href="/wonders/delete/delete-entry/<%= wonder._id %>">Delete Entry</a>
        </div>
</div>

<%- include('../partials/footer') %>