<%- include('../partials/header') %>

<h1> <%= wonder.placeName %> </h1>





<div class="tour-links-container">
    <p class="tour-links-word">Tour Links</p>
    <a href=" <%= wonder.tourURL[0] %> " class="tour"> <%= wonder.tourText[0] %> </a>
    <a href=" <%= wonder.tourURL[1] %> " class="tour"> <%= wonder.tourText[1] %> </a>
    <a href=" <%= wonder.tourURL[2] %> " class="tour"> <%= wonder.tourText[2] %> </a>
</div>
<br>
<a href="/wonders/delete/delete-entry/<%= wonder._id %>">Delete Entry</a>

<%- include('../partials/footer') %>