<%- include('../partials/header') %>

<h1> <%= title %> </h1>





<div class="tour-links-container">
    <p class="tour-links-word">Tour Links</p>
    <a href=" <%= w.tourURL[0] %> " class="tour"> <%= w.tourText[0] %> </a>
    <a href=" <%= w.tourURL[1] %> " class="tour"> <%= w.tourText[1] %> </a>
    <a href=" <%= w.tourURL[2] %> " class="tour"> <%= w.tourText[2] %> </a>
</div>


<%- include('../partials/footer') %>